{% extends "base.html" %}

{% block content %} 
    <h1> Stats </h1>
    {% for item in values %}
        <p>
            <ul>
                <dl>
                    <dt>
                        {{item.name}}:
                    </dt>
                    <dd>
                        Liten Øl (0.33L): {{item.olSmall}}
                    </dd>
                    <dd>
                        Stor ØL (0.5L): {{item.olLarge}}
                    </dd>
                    <dd>
                        Vin: {{item.vin}}
                    </dd>
                    <dd>
                        Shot: {{item.shot}}
                    </dd>
                </dl>
            </ul>
        </p>
    {% endfor %}


{% endblock %}