{% extends "base.html" %}

{% block title %} User {% endblock %}

{% block content %} 
<style>
    #button_minus
    {
        width: 5em; 
        border-radius: 10px; 
        background-color: rgb(240, 92, 92);
    }

    #button_plus
    {
        width: 5em; 
        border-radius: 10px; 
        background-color: rgb(163, 240, 92);
    }
</style>
<h2> Hei {{usr}}!!</h2>

<!--<form action="#" method = "POST">
    <input type="olSmall" name="olSmall" placeholder="Enter nr. of 0.33L beers" value="{{olSmall if olSmall}}"/>
    <input type="submit" value="Legg Til"/>
</form>-->

<form action="/user" method = "POST">

<ul style="list-style-type: none;">
    <dl>
        <dt>Liten Øl (0.33L): </dt>
            <dd><button id="button_minus" type="submit" name="-olSmall" value="-olSmall"> -1 </button> {{olSmall}}  
            <button id="button_plus" type="submit" name="olSmall" value="olSmall" > +1 </button> </dd><br>
        <dt>Stor Øl (0.5 Øl): </dt>
            <dd><button id="button_minus" type="submit" name="-olLarge" value="-olLarge"> -1 </button> {{olLarge}}  
            <button id="button_plus" type="submit" name="olLarge" value="olLarge" > +1 </button> </dd><br>
        <dt>Vin: </dt>
            <dd><button id="button_minus" type="submit" name="-vin" value="-vin" > -1 </button> {{vin}} 
            <button id="button_plus" type="submit" name="vin" value="vin" > +1 </button></dd><br>
        <dt>Shot: </dt>
            <dd><button id="button_minus" type="submit" name="-shot" value="-shot" > -1 </button> {{shot}} 
            <button id="button_plus" type="submit" name="shot" value="shot" > +1 </button></dd><br>
    </dl>
</ul>


</form>
{% endblock %}